@mixin transparent-shades($name, $color) {
    @each $alpha in 90, 80, 70, 60, 50, 40, 30, 20, 10 {
      .#{$name}-#{$alpha} {
        @include transparent($color, $alpha / 100);
      }
    }
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}