@import '@scss/common/common.scss';

#cloud-compare-app {
    overflow: hidden;
    & .cloud-compare-layout {
        height: 100vh;

        &.ant-layout {
            background-color: $light;
        }

        & .cloud-compare-main-body {
            background-color: $light;
            position: relative;
        }

        & footer {
            text-align: center;
        }
    }

    & .spinCenter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    & .bt-gray {
        border-top: solid 1px $gray;
    }

    & .ant-layout-footer {
        background-color: $light;
    }

    & .box-shadow-thin {
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    }

    & .ant-btn {
        & > span  {
            &.anticon {
                vertical-align: top;
            }
        }
    }
}

@media (max-width: 576px) {
    .mt-xs-2 {
        margin-top: 0.5rem !important;
    }

    .my-xs-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .mt-xs-4 {
        margin-top: 1.5rem !important;
    }

    .ml-xs-0 {
        margin-left: 0 !important;
    }
}