@import "~bootstrap/scss/bootstrap";

.ul-lists-items {
    list-style: none;
    list-style-type: none;

    & li {
        list-style: none;
        list-style-type: none;

        &.child {
            text-indent: 2rem;
            border-left: solid 5px $light;

            &.active {
                border-left: solid 5px $primary;
                background-color: rgba(theme-color("primary"), .1);
            }
        }
    }
}