@import '@scss/common/common.scss';
// .dynamic-row {
//     & > .ant-space-item {
//         width: 100%;
//     }
// }

// .compute-resource {
//    & .dynamic-row {

//     }
// }

#form-workload {
    .dynamic-form-row {
        background: red;
        // margin-top: 1.5rem;
        border-bottom: solid 1px $gray;
        // padding-top: 1.5rem;
        padding: 1.5rem;
        & .ant-input-number {
            width: 100% !important;
        }
    
        &:first-child {
            // margin-top: 0 !important;
            // border-top-width: 0;
            // padding-top: 0 !important;
        }
    }
    
    & .ant-collapse {
        & > .ant-collapse-item {
            & .ant-collapse-content {
                & > .ant-collapse-content-box {
                    padding: 0;
                    & .ant-layout {
                        &.dynamic-form-outer-box {
                            height: calc(100vh - 530px);
                            overflow: hidden scroll;
    
                            // & .dynamic-form-inner-box {
                            //     // padding: 0 1.5rem;
                            // }
                        }
                    } 
                }
            }
        }
    }
}
