.table-grid-outer {
  height: 200px;
  display: flex;

  & .table-grid-outer-inner {
    flex: 1;

    & .ag-theme-alpine {
      height: 100%;

      & .ag-cell {
        line-height: 30px !important;
      }

      & .ag-full-width-row {
        & .ag-cell-wrapper {
          &.ag-row-group {
            line-height: 30px !important;
          }
        }
      }
    }
  }
}
